@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Robs Movie List!</h1>
    <p>Here is a list of awesome movies you should watch right now...</p>
</div>
